@media (min-width: 535px) and (max-width: 824px){
	body {
		background: black;
		font-family: "Lobster", cursive;
		color: white;
	}
	.texto{
		display: flex;
		flex-direction: column;
	}
	#logomenu{
		color: white;
	}
	.formulario{
		width: 229px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.texto h2{
		font-size: 34px;
	}
}

@media only screen and (min-width: 200px) and (max-width: 534px){
	
	section{
		height: auto;
	}
	
	nav ul{
		font-size: 13px;
	}

	.texto h2{
		font-size: 29px;
	}
		
	#contenido{
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		text-align: center;
	}

	.formulario{
		width: auto;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 66px;
	}
}